body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
  margin: auto;
}

body > header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
  text-align: center;
}

body > header > nav ul {
  list-style-type: none;
  margin: 1.2rem 0;
  padding: 0;
}

body > header > nav li {
  display: inline;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 10px;
  margin: 5px;
}

body > footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #00e;
  text-decoration: none;
}
